# Supabase Configuration
SUPABASE_URL=
SUPABASE_SERVICE_KEY=

# AI Configuration
OPENAI_API_KEY=
# Fuzzy Match Threshold for Keypoint Timestamps
# Default: 4.0 (Recommended). Lowering increases recall, raising increases precision.
OPENAI_SUMMARY_MATCH_THRESHOLD=4.0

# Email (Optional)
RESEND_API_KEY=

# Payments (Optional)
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
COINBASE_API_KEY=
COINBASE_WEBHOOK_SECRET=

# General
FRONTEND_URL=http://localhost:3000
# supabdate
SUPADATA_API_KEY=